<div class="p-3 bg-[#FAFAFA] rounded-xl cursor-grab flex flex-col gap-3">
  <div class="flex gap-1">
    <p class="font-bold">Minha nova tarefa</p>
    <img
      class="self-start cursor-pointer ml-auto"
      src="images/icon-delete.svg
    "
      alt=""
    />
  </div>
  <p class="font-light text-sm">Descrição aeeewww</p>

  <div class="flex items-center gap-1">
    <img src="images/icon-comments.svg" alt="" />
    <p
      class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer"
    >
      Comentários 2
    </p>
    <p
      class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer ml-auto"
    >
      Editar
    </p>
  </div>
</div>
